{% extends 'base.html' %} {% block title %} WeatherBook {% endblock %} {% block
content %}

<div class="content-layout">
  <!-- Основний контент -->
  <main class="main-content">
    <div class="weather-app">
      <h1>Find out the weather in your city</h1>

      <!-- Форма для отримання погоди для одного міста -->
      <form method="POST" action="/weather-of-city">
        <input type="text" name="city" placeholder="Name of city" required />
        <button type="submit" id="button">Get the weather</button>
      </form>
    </div>
  </main>
</div>

{% endblock %}
