{% extends 'base.html' %} {% block title %} WeatherBook {% endblock %} {% block
content %}

<div class="content-layout">
  <!-- Ліва колонка з банерами 
    <aside class="sidebar">
        <div class="banner_img">
            <img src="{{ url_for('static', filename='img/santabook.jpg') }}" alt="Santabook - the Feeling of Chrismas" class = "img_of_banner">
            <p class ="banner" id = "santabook_button">SantaBook - the feeling of Chrismas. Write your wishes to Santa now!</p>
        </div>

        <div class="banner_img">
            <img src="{{ url_for('static', filename='img/binary.jpg') }}" alt="Binary Translator - go closer to Computer" class = "img_of_banner">
            <p class ="banner" id = "binary_translator">Binary Translator - go closer to Computer and start to understand him!</p>
        </div>
    </aside>
    -->
  <!-- Основний контент -->
  <main class="main-content">
    <div class="weather_index">
      <h1>Let's find out the weather in your city</h1>
      <button id="button_index">Get the weather</button>
    </div>
  </main>
</div>
{% endblock %}
